force-app/main/default/flows/Clone_Quotes_Exactly.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Cloned_Quote_Line</name>
        <label>Add Cloned Quote Line</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuoteLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Quote_Lines_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Lines_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Quote_Id</name>
        <label>Assign New Quote Id</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Create_Quote_Lines_Loop.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Quote_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Quote_Lines_Loop.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cloned_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_from_Quote</name>
        <label>Remove Id from Quote</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_to_Clone.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
    </assignments>
    <description>Flow Breakdown
Trigger:

Autolaunched Flow (Runs automatically, not triggered by a record event).
Get Records (&quot;Get Quote to Clone&quot;):

Retrieves the existing Quote record that needs to be cloned.
Assignment (&quot;Remove Id from Quote&quot;):

Removes the record ID to ensure Salesforce creates a new Quote record instead of updating the existing one.
Create Records (&quot;Create New Quote&quot;):

A new Quote record is created using the values from the original Quote.
Get Records (&quot;Get Quote Lines to Clone&quot;):

Fetches all Quote Line Items associated with the original Quote.
Loop (&quot;Create Quote Lines Loop&quot;):

Iterates through each Quote Line Item from the original Quote.
Assignment (&quot;Assign New Quote Id&quot;):

Assigns the newly created Quote ID to each cloned Quote Line.
Assignment (&quot;Add Cloned Quote Line&quot;):

Prepares the cloned Quote Line with updated references.
Create Records (&quot;Insert Quote Lines&quot;):

Inserts the newly cloned Quote Line Items into Salesforce.
End:

Successfully completes the Quote cloning process.</description>
    <environments>Default</environments>
    <interviewLabel>Clone Quotes Exactly {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF - Quote - Clone - Duplicate Quote &amp; Lines</label>
    <loops>
        <name>Create_Quote_Lines_Loop</name>
        <label>Create Quote Lines Loop</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Quote_Lines_to_Clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Quote_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>New_Quote_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Quote_Lines_to_Clone</targetReference>
        </connector>
        <inputAssignments>
            <field>CPQ_Recalculate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.CPQ_Recalculate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Template__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.Is_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.Lead_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Margin_Variable__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.Margin_Variable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Quote_to_Clone.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCity__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingCountry__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingName__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingPostalCode__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingState__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingStreet__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__BillingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ConsumptionRateOverride__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ConsumptionRateOverride__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ContractingMethod__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ContractingMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__CustomerDiscount__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__CustomerDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DefaultTemplate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__DefaultTemplate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DeliveryMethod__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__DeliveryMethod__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DistributorDiscount__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__DistributorDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Distributor__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DocumentStatus__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__DocumentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EmailTemplateId__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__EmailTemplateId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__FirstSegmentTermEndDate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__FirstSegmentTermEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__GenerateContractedPrice__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__GenerateContractedPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Introduction__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Introduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Key__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Key__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LastCalculatedOn__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__LastCalculatedOn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LastSavedOn__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__LastSavedOn__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsGrouped__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__LineItemsGrouped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__LineItemsPrinted__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__LineItemsPrinted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__MarkupRate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__MarkupRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__MasterContract__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__MasterContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__MasterEvergreenContract__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__MasterEvergreenContract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Notes__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Opportunity2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderByQuoteLineGroup__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__OrderByQuoteLineGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderBy__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__OrderBy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderGroupID__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__OrderGroupID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Ordered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__OriginalQuote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaperSize__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PaperSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PartnerDiscount__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PartnerDiscount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Partner__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PriceBook__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PricebookId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuoteLanguage__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__QuoteLanguage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuoteProcessId__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__QuoteProcessId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuoteTemplateId__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__QuoteTemplateId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalTerm__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__RenewalTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__RenewalUpliftRate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__RenewalUpliftRate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SalesRep__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__SalesRep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCity__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingCountry__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingName__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingPostalCode__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingState__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ShippingStreet__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__ShippingStreet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Source__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__SubscriptionTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__TargetCustomerAmount__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__TargetCustomerAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Unopened__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__Unopened__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <elementReference>Get_Quote_to_Clone.SBQQ__WatermarkShown__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Quote_Lines</name>
        <label>Insert Quote Lines</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <inputReference>QuoteLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Lines_to_Clone</name>
        <label>Get Quote Lines to Clone</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Quote_Lines_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_to_Clone</name>
        <label>Get Quote to Clone</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_Id_from_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_to_Clone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Quote_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Quote_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordIdRECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
