force-app/main/default/flows/Opportunity_Notify_Cam_on_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Cam</name>
        <label>Notify Cam</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Cam_user.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>Chatter message is sent to Cam when Opp Stage changes to one of &quot;Won&quot; stages and fill in opp &quot;Marked - Won Date&quot; on opp</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity &gt; Notify Cam on Chatter when Opp Marked Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification - Opp Marked Won - Notify Cam</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Cam_user</name>
        <label>Cam user</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Marked_Won_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Slate Studios</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Fill in the &quot;Marked Won - Date&quot; field on the opp</description>
        <name>Opp_Marked_Won_Date</name>
        <label>Opp Marked Won - Date</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Notify_Cam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Marked_Won_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Marked_Won_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cam_user</targetReference>
        </connector>
        <filterFormula>AND(
     ISCHANGED({!$Record.StageName}), 
     CONTAINS(TEXT({!$Record.StageName}), &apos;Won&apos;),
     NOT(CONTAINS(TEXT({!$Record__Prior.StageName}), &apos;Won&apos;))
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ChatterPostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Lead_Producer__c} has marked {!$Record.Name} to {!$Record.StageName}. https://slatestudios.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
</Flow>
