force-app/main/default/flows/Opportunity_New_Won_Opp_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Won_Opp_Email</name>
        <label>New Won Opp Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>LeadProducerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Lead_Producer_Email</name>
        <label>Set Lead Producer Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>LeadProducerEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Lead_Producer_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Won_Opp_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check who the producer is and take necessary actions.</description>
        <name>Producer</name>
        <label>Producer</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ferhat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Producer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ferhat Yurdam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Producer_Email</targetReference>
            </connector>
            <label>Ferhat</label>
        </rules>
    </decisions>
    <description>This is a Record-Triggered Flow in Salesforce that triggers when an Opportunity record is created or updated and meets specific conditions. The flow automates the process of sending an email notification when an Opportunity is marked as &quot;Won,&quot; specifically notifying a lead producer named Ferhat Yurdum.

Flow Breakdown
Trigger:

Object: Opportunity
Trigger Condition: A record is created or updated
Entry Conditions:
Stage Is Changed = True
Stage Contains &quot;Won&quot;
Runs for Actions and Related Records (to allow updates and emails)
Decision Element (&quot;Producer&quot;):

Evaluates the Producer field in the Opportunity record.
If the Producer = &quot;Ferhat Yurdum&quot;, the flow continues.
Otherwise, it takes the default outcome, which ends the flow.
Assignment (&quot;Set Lead Producer Email&quot;):

Assigns the Producer’s email from the Opportunity record to a variable.
Action (&quot;New Won Opp Email&quot;):

Sends an email to the Lead Producer when the Opportunity is won.
Uses an email body variable and assigns the recipient.</description>
    <environments>Default</environments>
    <formulas>
        <description>Email Subject</description>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&apos;New Won Opportunity - &apos; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity - New Won Opp Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Opportunity - Won Stage Change - Notify Producer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Producer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Body of the email</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!$Record.Lead_Producer__c},
The Following Opportunity has been marked Won. Please create the Dropbox folder.
Opportunity Name: {!$Record.Name}
Type: {!$Record.Division__r.Name}
Opportunity Description: {!$Record.Opportunity_Descriptor__c}
Slate Studios</text>
    </textTemplates>
    <variables>
        <description>Ferhat&apos;s email address</description>
        <name>LeadProducerEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
